<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/img/education1.png}" type="image/png">
    <title>University - Main page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" media="screen"/>
</head>
<body>
<div class="mt-3 d-flex justify-content-center">
    <h1 style="align-content: center" th:text="#{main.error}"></h1>
</div>
</body>
</html>